.header {
  width: 100%;
  flex: 0 0 auto;

  .navbar-header {
    .navbar-brand {
      padding: 0;

      @include media-breakpoint-down(xs) {
        padding-left: 15px;
      }

      svg {
        width: 132px;
        height: 50px;
      }
    }
  }

  .navbar-header,
  .navbar-nav {
    @include media-breakpoint-up(sm) {
      padding: 25px 0;
    }
  }

  .navbar-header {
    @include media-breakpoint-down(xs) {
      padding: 10px 0;
    }
  }

  .navbar {
    @media (min-width: $screen-sm-min) {
      background-color: transparent;
      border-color: transparent;
      border-radius: 0;
    }

    @media (max-width: $screen-xs-max) {
      background-color: $white;
      border-color: $white;
    }

    .link {
      @include media-breakpoint-up(sm) {
        &:not(:last-child) {
          margin-right: 20px;
        }
      }

      a {
        @include link-variant($black);
        font-size: 12px;
        letter-spacing: 2px;
        text-transform: uppercase;
      }

      &:not(.featured) {
        a {
          @include media-breakpoint-up(sm) {
            padding: 12px 14px 8px 10px;

            span {
              position: relative;
              top: 0;
              transition: all .3s ease-in-out;
            }

            &:before {
              content: '';
              position: absolute;
              left: -8px;
              top: 8px;
              width: 100%;
              bottom: -7px;
              border: solid thin rgba($black, .3);
              opacity: 0;
              transition: all .3s;
              transition-delay: .1s;
            }

            &:after {
              content: '';
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              border: solid thin $black;
              opacity: 0;
              transition: all .3s;
            }

            &:hover {
              &:before {
                opacity: 1;
              }

              &:after {
                opacity: 1;
              }

              span {
                top: 4px;
              }
            }
          }

          @include media-breakpoint-down(xs) {
            padding-left: 10px;
          }
        }
      }

      &.featured {
        a {
          @include media-breakpoint-up(sm) {
            border: 1px dotted $black;
            transition: all .3s ease-in-out;
            position: relative;

            @include media-breakpoint-up(sm) {
              padding-top: 9px;
              padding-bottom: 9px;
            }

            .btn-shadow {
              position: absolute;
              left: -8px;
              top: 8px;
              width: 100%;
              height: 100%;
              border: solid thin rgba($black, .3);
              opacity: 0;
              transition: all .2s linear .2s;
            }

            .text {
              display: inline-block;
              position: relative;
              top: 1px;
              transition: all .2s linear;
            }

            &:after,
            &:before,
            .border:after,
            .border:before {
              position: absolute;
              content: '';
              background: $black;
              transition: all .2s linear;
            }

            &:after {
              left: 0;
              top: -1px;
              height: 1px;
              width: 0;
            }

            &:before {
              right: 0;
              bottom: -1px;
              height: 1px;
              width: 0;
            }

            .border:after {
              top: 0;
              left: -1px;
              width: 1px;
              height: 0;
            }

            .border:before {
              bottom: 0;
              right: -1px;
              width: 1px;
              height: 0;
            }

            &,
            &:hover,
            &:focus,
            &:active {
              color: $black;
              outline: none !important;
              background-color: transparent;
            }

            &:hover,
            &:focus,
            &:active {
              &:after {
                width: 100%;
              }

              &:before {
                width: 100%;
              }

              .border:after {
                height: 100%;
              }

              .text {
                top: 5px;
              }

              .border:before {
                height: 100%;
              }

              .btn-shadow {
                opacity: 1;
              }
            }
          }

          @include media-breakpoint-down(xs) {
            padding-left: 10px;
          }
        }
      }

      &.social-links {
        display: block;

        a {
          display: inline-block;
          margin-right: 0;

          &:after,
          &:before {
            display: none;
          }

          @include media-breakpoint-up(sm) {
            padding-left: 5px;
            padding-right: 5px;
          }
        }

        svg {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}