.roadmap-section {
  padding: 100px 0 30px;

  .section-title {
    margin-bottom: 40px;

    .featured {
      position: relative;

      .decoration {
        @include decoration;
        background: url("../img/triangle-left-gold-2.svg") no-repeat right top;
        width: 1000px;
        height: 1000px;

        @include media-breakpoint-up(lg) {
          background-size: 600px;
        }

        @include media-breakpoint-only(md) {
          background-size: 510px;
        }

        @include media-breakpoint-only(sm) {
          background-size: 400px;
        }

        @include media-breakpoint-down(xs) {
          background-size: 340px;
        }
      }
    }
  }

  .roadmap-list {
    width: 100%;
    position: relative;

    > * {
      min-width: 0;
    }

    @include media-breakpoint-up(lg) {
      justify-content: space-between;
    }

    @include media-breakpoint-only(md) {
      padding: 0 100px;
    }

    @include media-breakpoint-up(sm) {
      display: flex;
      flex-wrap: wrap;
    }

    @include media-breakpoint-between(sm, md) {
      justify-content: space-around;
    }

    .list-item {
      min-width: 250px;
      flex: 0 0 250px;
      position: relative;

      @include media-breakpoint-down(xs) {
        display: flex;

        >* {
          min-width: 0;
        }
      }

      @include media-breakpoint-down(xs) {
        margin: 0 auto 20px;
        width: 100%;
      }

      &:nth-child(1) {
        .title-block {
          &:after {
            background: linear-gradient(135deg, #143254, #183657);

            @include media-breakpoint-down(xs) {
              background: linear-gradient(#143254, #183657);
            }
          }
        }

        .title {
          background-image: url(../img/road-step-icon-1.svg);
        }

        .content {
          .info {
            color: #29A0C3;
          }
        }
      }

      &:nth-child(2) {
        .title-block {
          &:after {
            background: linear-gradient(135deg, #183657, #648FBA);

            @include media-breakpoint-down(xs) {
              background: linear-gradient(#183657, #648FBA);
            }
          }
        }

        .title {
          background-image: url(../img/road-step-icon-2.svg);
        }

        .content {
          .info {
            color: #2983C3;
          }
        }
      }

      &:nth-child(3) {
        .title-block {
          &:after {
            background: linear-gradient(135deg, #648FBA, #AACCE9);

            @include media-breakpoint-down(xs) {
              background: linear-gradient(#648FBA, #AACCE9);
            }
          }
        }

        .title {
          background-image: url(../img/road-step-icon-3.svg);
        }

        .content {
          .info {
            color: #6560B4;
          }
        }
      }

      &:nth-child(4) {
        .title-block {
          &:after {
            background: linear-gradient(135deg, #AACCE9, transparent);

            @include media-breakpoint-up(lg) {
              right: -15px;
            }

            @include media-breakpoint-down(xs) {
              background: linear-gradient(#AACCE9, transparent);
            }
          }
        }

        .title {
          background-image: url(../img/road-step-icon-4.svg);
        }

        .content {
          .info {
            color: #C388CA;
          }
        }
      }

      &:after {
        opacity: 0;
        transition: all .3s ease;
        @include decoration;
        content: '';
        background: url("../img/triangle-center-gold.svg") no-repeat right top;
        height: 500px;
        right: -20px;
        left: auto;
        top: 45%;

        @include media-breakpoint-up(md) {
          background-size: 800px;
          width: 800px;
        }

        @include media-breakpoint-only(sm) {
          background-size: 600px;
          width: 600px;
        }

        @include media-breakpoint-down(xs) {
          background-size: 300px;
          width: 300px;
          top: 70%;
        }
      }

      &.active {
        .block {
          background-color: #E8C996;
        }

        .content {
          opacity: 1;
        }
      }

      &.styled {
        &:after {
          opacity: 1;
        }
      }

      .title-block {
        display: block;
        position: relative;
        z-index: 0;

        @include media-breakpoint-down(xs) {
          flex: 0 0 60px;
        }

        &:after {
          position: absolute;
          content: '';
          transform: translateY(-50%);
          z-index: 1;
          background-color: #000;

          @include media-breakpoint-up(lg) {
            right: -60px;
          }

          @include media-breakpoint-between(sm, md) {
            right: -140px;
          }

          @include media-breakpoint-up(sm) {
            height: 1px;
            left: 30px;
            top: 50%;
          }

          @include media-breakpoint-down(xs) {
            left: 20px;
            top: 15px;
            bottom: -30px;
            width: 1px;
            transform: translateX(-50%);
          }
        }

        .title {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-size: 100% 100%;
          text-align: center;
          color: #fff;
          line-height: 50px;
          position: relative;
          z-index: 2;

          @include media-breakpoint-down(sm) {
            margin: 0;
          }

          @include media-breakpoint-down(xs) {
            width: 40px;
            height: 40px;
            line-height: 40px;
            font-size: 16px;
          }
        }
      }

      .title {
        font-size: 17px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: -0.62px;
      }

      .content {
        transition: opacity .3s ease;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 400;
        color: $black;
        margin-bottom: 25px;

        @include media-breakpoint-down(xs) {
          padding-top: 5px;
        }

        .info {
          margin-bottom: 20px;
          font-weight: 500;
        }

        ul {
          list-style: none;
          padding-left: 0;

          li {
            position: relative;
            margin-bottom: 15px;
            padding-left: 20px;

            &:after {
              position: absolute;
              content: '';
              left: 0;
              top: .7em;
              transform: translateY(-50%);
              background-color: transparentize($black, .75);
              width: 7px;
              height: 7px;
            }
          }
        }
      }
    }
  }
}