.btn-custom {
  height: 54px;
  border-radius: 27px;
  font-size: 24px;
  font-weight: 600;
  border-width: 0;
  padding-left: 30px;
  padding-right: 30px;

  &:hover,
  &:focus,
  &:active {
    outline: none !important;
  }

  &.btn-success {
    @include button-variant($white, $green, $green);
  }

  &.btn-info {
    @include button-variant($white, $blue, $blue);
  }
}