.page-title {
  font-weight: 800;
  margin-bottom: 30px;
  color: $black;

  .featured {
    color: $gold;
  }

  @include media-breakpoint-up(lg) {
    font-size: 72px;
    line-height: 63px;
  }

  @include media-breakpoint-only(md) {
    font-size: 60px;
    line-height: 52px;
  }

  @include media-breakpoint-only(sm) {
    font-size: 50px;
    line-height: 45px;
  }

  @include media-breakpoint-down(xs) {
    br {
      display: none;
    }
  }

  @include media-breakpoint-down(xs) {
    font-size: 40px;
    line-height: 40px;
  }
}

.page-subtitle {
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 4px;
  color: $gray;
  margin-bottom: 30px;
}

.section-title {
  font-weight: 700;
  margin-bottom: 30px;
  color: $black;

  .featured {
    color: $gold;
    font-weight: 800;
    line-height: 1.05;
  }

  i {
    font-weight: 500;
  }

  @include media-breakpoint-up(lg) {
    font-size: 62px;
    line-height: 56px;
    letter-spacing: -1px;
  }

  @include media-breakpoint-only(md) {
    font-size: 50px;
    line-height: 47px;
  }

  @include media-breakpoint-only(sm) {
    font-size: 42px;
    line-height: 39px;
  }

  @include media-breakpoint-down(sm) {
    br {
      display: none;
    }
  }

  @include media-breakpoint-down(xs) {
    font-size: 40px;
    line-height: 37px;
  }
}

.section-subtitle {
  font-size: 24px;
  font-weight: 300;
  color: $black;
  margin-bottom: 20px;

  @include media-breakpoint-down(xs) {
    font-size: 20px;
  }
}

.page-title,
.section-title {
  .featured {
    &.gradient-title {
      background: linear-gradient($gold 0%, darken($gold, 40%) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: all .3s linear;
    }
  }
}