body,
html {
  overflow-x: hidden;
}

body {
  width: 100%;
  margin: 0;
  backface-visibility: hidden;
  perspective: unset;
  background: #ccc url(../img/graphy_@2X.png) center top repeat;
  background-size: 80px;
  background-attachment: fixed;
}

@import "settings";
@import "packages/bootstrap";
@import "common/common";
@import "partials/partials";
@import "componets/components";